<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.fage.accessmesh.access.permission.mapper.PermissionConditionMapper">

    <update id="softDeleteBatch">
        UPDATE permission_condition
        SET delete_flag = id, deleted_at = #{deletedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND delete_flag = 0 AND tenant_id = #{tenantId}
    </update>

    <select id="selectValidByCode" resultType="cn.ac.fage.accessmesh.access.permission.entity.PermissionCondition">
        SELECT * FROM permission_condition
        WHERE tenant_id = #{tenantId}
          AND code = #{code}
          AND delete_flag = 0
    </select>

    <select id="selectValidByCodes" resultType="cn.ac.fage.accessmesh.access.permission.entity.PermissionCondition">
        SELECT * FROM permission_condition
        WHERE tenant_id = #{tenantId}
          AND code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectValidByIdsNoTenant" resultType="cn.ac.fage.accessmesh.access.permission.entity.PermissionCondition">
        SELECT * FROM permission_condition
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectValidById" resultType="cn.ac.fage.accessmesh.access.permission.entity.PermissionCondition">
        SELECT * FROM permission_condition
        WHERE id = #{conditionId}
          AND tenant_id = #{tenantId}
          AND delete_flag = 0
    </select>

    <select id="selectByTenantId" resultType="cn.ac.fage.accessmesh.access.permission.entity.PermissionCondition">
        SELECT * FROM permission_condition
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
    </select>

    <select id="selectValidByIds" resultType="cn.ac.fage.accessmesh.access.permission.entity.PermissionCondition">
        SELECT * FROM permission_condition
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
          AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>