<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.fage.accessmesh.access.permission.mapper.ResourceDependencyMapper">

    <update id="softDeleteBatch">
        UPDATE resource_dependency
        SET delete_flag = id, deleted_at = #{deletedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND delete_flag = 0 AND tenant_id = #{tenantId}
    </update>

    <select id="selectByTenantId" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceDependency">
        SELECT * FROM resource_dependency
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
    </select>

    <select id="selectByTenantAndResourceEntityId" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceDependency">
        SELECT * FROM resource_dependency
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
          <if test="resourceEntityId != null">
              AND resource_entity_id = #{resourceEntityId}
          </if>
    </select>

    <select id="selectByOwnerService" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceDependency">
        SELECT * FROM resource_dependency
        WHERE tenant_id = #{tenantId}
          AND owner_service_code = #{ownerServiceCode}
          AND maintain_source = #{maintainSource}
          AND delete_flag = 0
    </select>

    <select id="selectValidByIds" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceDependency">
        SELECT * FROM resource_dependency
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
          AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectBySourceAndTargetIds" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceDependency">
        SELECT * FROM resource_dependency
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
          AND resource_entity_id IN
        <foreach collection="sourceResourceIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND depends_on_resource_entity_id IN
        <foreach collection="targetResourceIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
