<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.fage.accessmesh.access.permission.mapper.ResourceEntityMapper">

    <update id="batchDisableStatus">
        UPDATE resource_entity
        SET status = 0, updated_at = #{updatedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND tenant_id = #{tenantId} AND delete_flag = 0
    </update>

    <update id="softDeleteBatch">
        UPDATE resource_entity
        SET delete_flag = id, deleted_at = #{deletedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND delete_flag = 0 AND tenant_id = #{tenantId}
    </update>

    <!-- CTE recursive query to get all descendant IDs for multiple resources in batch -->
    <select id="selectDescendantIdsBatch" resultType="cn.ac.fage.accessmesh.access.permission.mapper.ResourceEntityMapper$DescendantResult">
        WITH RECURSIVE descendants AS (
            SELECT id, parent_id, id as original_id FROM resource_entity
            WHERE id IN
            <foreach collection="resourceEntityIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND tenant_id = #{tenantId} AND delete_flag = 0
            UNION ALL
            SELECT r.id, r.parent_id, d.original_id FROM resource_entity r
            INNER JOIN descendants d ON r.parent_id = d.id
            WHERE r.tenant_id = #{tenantId} AND r.delete_flag = 0
        )
        SELECT original_id as resourceId, id as descendantId FROM descendants WHERE id != original_id
    </select>

    <select id="selectValidById" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE id = #{resourceId}
          AND tenant_id = #{tenantId}
          AND delete_flag = 0
    </select>

    <select id="selectValidByIds" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND id IN
        <foreach collection="resourceIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectExistingCodes" resultType="java.lang.String">
        SELECT code FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectByTypeCodeAndCodeType" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND resource_type = #{resourceType}
          AND code = #{code}
          AND code_type = #{codeType}
          AND delete_flag = 0
    </select>

    <select id="selectByTypeAndCodes" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND resource_type = #{resourceType}
          AND code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectByTypeAndCodesAndCodeTypes" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND resource_type = #{resourceType}
          AND code IN
        <foreach collection="codes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
          AND code_type IN
        <foreach collection="codeTypes" item="ct" open="(" separator="," close=")">
            #{ct}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectApiResourcesByType" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND resource_type = #{resourceType}
          AND delete_flag = 0
    </select>

    <select id="selectAllValid" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
    </select>

    <select id="selectValidByResourceTypes" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND resource_type IN
        <foreach collection="resourceTypes" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>
          AND delete_flag = 0
    </select>

    <select id="selectResourceTree" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
          AND status = 1
        <if test="matchNone">
          AND id = -1
        </if>
        <if test="!matchNone and resourceType != null">
          AND resource_type = #{resourceType}
        </if>
    </select>

    <select id="selectResourceListPaged" resultType="cn.ac.fage.accessmesh.access.permission.entity.ResourceEntity">
        SELECT * FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
        <if test="matchNone">
          AND id = -1
        </if>
        <if test="!matchNone and resourceType != null">
          AND resource_type = #{resourceType}
        </if>
        ORDER BY id
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectResourceListCount" resultType="long">
        SELECT COUNT(*) FROM resource_entity
        WHERE tenant_id = #{tenantId}
          AND delete_flag = 0
        <if test="matchNone">
          AND id = -1
        </if>
        <if test="!matchNone and resourceType != null">
          AND resource_type = #{resourceType}
        </if>
    </select>

</mapper>