<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.fage.accessmesh.admin.mapper.SysUserMapper">

    <update id="softDeleteBatch">
        UPDATE sys_user
        SET delete_flag = id, deleted_at = #{deletedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND delete_flag = 0 AND tenant_id = #{tenantId}
    </update>

    <update id="batchUpdateStatus">
        UPDATE sys_user
        SET status = #{status}, updated_at = #{updatedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND delete_flag = 0 AND tenant_id = #{tenantId}
    </update>

    <update id="batchUpdatePassword">
        UPDATE sys_user
        SET password = #{password}, updated_at = #{updatedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND delete_flag = 0 AND tenant_id = #{tenantId}
    </update>

</mapper>